html{
    font-family:sans-serif;
    font-weight:Bolder;
    color:#00FFFF;
    background-color:#4961E1;
    border-radius:50px;
    font-size:20px;
    padding:5px 10px 5px 10px;
}
#add-new-todo-button{
    font-size:20px;
    text-align:center;
    color:#00FFFF;
    outline:none;
    border-style:Groove;
    padding:10px;
    border-radius:3px;
    box-shadow:2px 2px 1px #90A4AE;
    display:block;
    background-color:#FFFAF0;
    margin-top:10px;
}
#add-new-todo-button:active{
    box-shadow:1px 1px 1px #90A4AE;
}
#add-new-todo-button:hover{
    color:#000; 
}
.completed-todo{
    text-decoration: line-through;
}
