<h2>edit todo</h2>
        
        <form action = "#"> 
            <input class="text-input" id="add-a-new-to-do" type = "text" placeholder = "add a new to do" value = "<%=todo.description%>" >
            <input class="text-input" id="add-new-pomodoros" type = "number" placeholder = "add new pomodoros" value = "<%todo.pomodoro_estimate%>"> 
            <input class="text-input" id= "add-new-todo-button" type = "submit" value = "edit todo" >
            <a href = "/todo/index"
        </form>