<h3>todo #<% params[ :id]%></h3>
        <h2> <%= @todo_description %> </h2>
        <span class = "pomodoro-estimate"> 
        <%= @todo_pomodoro_estimate%> </span>
        <a href = "#"> edit </a>
        <a href = "index.html"> cancel </a>